.friendItem {
  border: 1px solid black;
  overflow: hidden;
  border-radius: 4px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.friendName {
  font-size: 22px;
  font-weight: 400px;
}

.online {
  color: green;
}

.offline {
  color: red;
}
